.card{
    border: solid black 1px;

}

.title01, .title02 {
    font-family: 'Frijole', cursive;
}

.imageButton{
    max-height: 30px;
    max-width: 30px;
    margin: 1px;
}

.imageButton2{
    max-height: 30px;
    max-width: 30px;
    margin-right: 3px;
    margin-left: 3px;
}


.list-group-item{
    border: 1px solid black;
    background: transparent;
}
.done{
    text-decoration: line-through;
}
.notDone{
    text-decoration: none;
}


